<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Producto Ingtegrador de Aprendizaje</title>
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
   />
   <link rel="stylesheet" href="style_linea.css">
   <link rel="stylesheet" href="PIA.css" />
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="../temas/index.html" class="navbar-brand">
              <img
                src="../android-logo.png"
                alt="Logo"
                style="width: 40px"
                class="rounded-pill"
              />
            </a>
          </li>
          <li class="nav-item">
            <a href="../temas/intro.html" class="nav-link"
              >Introducción</a
            >
          </li>
          <li class="nav-item">
            <a href="../temas/arquitectura.html" class="nav-link"
              >Arquitectura, desempeño y tipo de sistema operativo</a
            >
          </li>
          <li class="nav-item">
            <a href="../temas/concurrencia.html" class="nav-link"
              >Control de concurrencia</a
            >
          </li>
          <li class="nav-item">
            <a href="../temas/memoria.html" class="nav-link"
              >Almacenaje, memoria y archivos</a
            >
          </li>
          <li class="nav-item">
            <a href="../temas/seguridad.html" class="nav-link"
              >Redes y seguridad: sistemas distribuidos</a
            >
          </li>
          <li class="nav-item">
            <a href="../conclusiones/conclusion.html" class="nav-link"
              >Conclusión general</a
            >
          </li>
          <li class="nav-item">
            <a href="../temas/lineatiempo.html" class="nav-link"
              >Línea del tiempo</a
            >
          </li>
          <li class="nav-item">
            <a href="../temas/bibliografias.html" class="nav-link"
              >Referencias Bibliográficas</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              >Conclusiones personales</a
            >
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="../conclusiones/eduardo.html"
                  >Eduardo Menchaca Cano</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../conclusiones/gerardo.html"
                  >Luis Gerardo Moreno Garcia</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../conclusiones/joshua.html"
                  >Joshua Leonardo Lucio Moreno</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../conclusiones/mancera.html"
                  >Angel Gael Mancera Rodriguez</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../conclusiones/santiago.html"
                  >Santiago Ivan Cruz Cruz</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class="titulo">
        <h1>
            Línea del tiempo. Evolución de Android
        </h1>
    </div>
    <div class="contenedor">
        <div class="rightbox">
            <div class="rb-container">
                <ul class="rb">
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            23 de septiembre de 2008 <br>
                        </div>
                        <div class="item-title">
                            El primer dispositivo de Android, el HTC Dream, fue lanzado, contaba con una pantalla táctil
                            y un teclado físico deslizable.
                        </div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            27 de Abril de 2009 <br>
                        </div>
                        <div class="item-title">
                            Se introdujo la versión 1.5 de Android, añadiendo teclado en pantalla y la capacidad de 
                            subir videos a YouTube
                        </div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            22 de Febrero de 2011 <br>
                        </div>
                        <div class="item-title">
                            Se introdujo la versión 3.0 diseñada especificamente para tabletas, ofreciendo una nueva interfaz de usuario y 
                            funcionalidades optimizadas
                        </div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            31 de octubre de 2013 <br>
                        </div>
                        <div class="item-title">
                            La versión 4.4 de android optimizo el sistema operativo para dispositivos de gama baja y agrego búsqueda por voz
                        </div>
                    </li>
                <li class="rb-item" ng-repeat="itembx">
                    <div class="timestamp">
                        25 de junio de 2014 <br>
                    </div>
                    <div class="item-title">
                        Android 5.0 conocido como Lollipop es lanzado, introdujo una mejora en las notificaciones, nueva interfaz de usuario y
                        la posibilidad de gestionar múltiples usuarios en un mismo dispositivo
                    </div>
                </li>
            <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                    22 de agosto de 2016 <br>
                </div>
                <div class="item-title">
                    La versión 7.0 de Android llamada Nougat fue lanzada para diversos dispositivos 
                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                   21 de agosto de 2017 <br>
                </div>
                <div class="item-title">
                    La versión 8.0 es lanzada, añadiendo el modo Picture-in-Picture y canales de notificación
                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                    13 de marzo de 2019 <br>
                </div>
                <div class="item-title">
                    Se agrego en la versión 10 el modo oscuro al sistema, junto con nuevas opciones de privacidad
                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                   4 de octubre de 2021  <br>
                </div>
                <div class="item-title">
                    Android 12 introdujo un rediseño significativo, permitiendo una personalización más profunde a
                    la interfaz
                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                    15 de agosto de 2022 <br>
                </div>
                <div class="item-title">
                    La versión 13 de Android introdujo iconos de aplicaciones personalizables, configuraciones de idioma
                    por aplicación y permisos de notificaciones
                </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                    Noviembre de 2023 <br>
                </div>
                <div class="item-title">
                    Android 14 introduce una mayor duración de la bateria y capacidades avanzadas de multitarea
                </div>
            </li>
            </ul>
            </div>
        </div>
    </div>
  </body>
</html>